//create a navbar with links to the different pages

<html>
<head>
    <title>Shipyard</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="index.php">Home</a>
        <a href="about.php">About</a>
        <a href="contact.php">Contact</a>
        <a href="login.php">Login</a>
        <a href="register.php">Register</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>