
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
}
nav{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 60px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 5;
  opacity: 1;
  background: rgba(0,0,0,.3);
}
nav.black{
  background: rgba(0,0,0,.8);
  height: 80px;
  padding: 10px 50px;
}
nav .logo{
  float: left;
}
nav .logo img{
  height: 80px;
  transition: .5s;
}
nav.black .logo img{
  height: 60px;
}
nav ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
  margin-top: 25px;
  line-height: none;
  font-size: 18px;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  text-shadow: 0 0 10px #000;
}

nav.black ul li{
  color: #fff;
  line-height: 20px;
}
/* nav ul li a.active,
nav ul li a:hover{
  color: orange;
} */
nav ul li.active,
nav ul li:hover{
  color: orange;
}
.heading {
  position: absolute;
  color: #fff;
  font-size: 550%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}
.heading2 {
  position: absolute;
  color: #fff;
  font-size: 150%;
  top: 50%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.two-col{
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: center;
}
section {
  overflow: auto;
  padding: 50px 80px;
}
.dark{
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}
@media (max-width: 900px){
  nav ul li{
    font-size: 12px;
  }
  .heading{
    font-size: 250%;
  }
}
@media (max-width: 600px){
  .heading{
    font-size: 250%;
  }
  .heading-sm{
    font-size: 180%
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  nav ul li{
    font-size: 8px;
  }
}


